/* 전체 페이지 공용 header/footer/container */
#wrap{
    width: 100%;
    min-width: 1600px;
}
.inner{
    /* width: 1400px; */
    width: 100%;
    max-width: 1920px;
    margin: auto; position: relative; box-sizing: border-box;
}

/* footer */

#footer{
    width: 100%;
    /* background: #efefef; */
    background: #fefefe;
}
#footer .inner{
    width: 1400px;
    height: 350px;
    padding-top: 80px;
}
#footer h2{width: 155px; margin-bottom: 70px;}
#footer h2 a{
    display: block;
}

#footer .family-site{
    width: 190px; height: 47px;
    position: absolute;
    right: 0; top: 90px;
    box-sizing: border-box;
    border: 1px solid #666;
}
#footer .family-site details{
    /* border: 1px solid #666; */
    cursor: pointer;
    font-family: 'S-CoreDream-6Bold';
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
#footer .family-site details[open]{
    outline: none;
    border: none;
}
#footer .family-site details summary{
    list-style: none;
}
#footer .family-site details summary i{
    margin-left: 20px;
    font-weight: 700;
    transition: .4s;
}
#footer .family-site details[open] summary i{
    transform: rotate(180deg);
}
#footer .family-site details .site{
    font-size: 12px;
    font-family: 'S-CoreDream-4Regular';
    text-align: left;
    width: 101%;
    position: absolute;
    padding: 10px 20px 0;
    box-sizing: border-box;
    border: 1px solid #666;
    /* background: #efefef; */
    background: #fefefe;
    bottom: 45px; right: -1px;
}
#footer .family-site details .site li{}
#footer .family-site details .site li strong{
    display: block;
    color: #888;
    cursor:default;
}
#footer .family-site details .site li ul{
    margin-bottom: 7px;
    /* background: pink; */
}
#footer .family-site details .site li ul li{
}
#footer .family-site details .site li ul li a::before{
    content: "-";
    display: inline-block;
    margin-right: 5px;
}
#footer .family-site details .site li ul li a{
    display: block;
    font-size: 13px;
    color: #666;
    /* text-indent: 5px; */
}
#footer .family-site details .site li ul li a:hover{
    color: #333;
    font-weight: 600;
}

#footer .footul{display: flex; margin-bottom: 20px;}
#footer .footul li{margin-right: 30px;}
#footer .footul li a{font-size: 14px;}
#footer .footul li:first-child a{font-weight: 600;}

#footer .p{
    display: flex;
    font-family: 'S-CoreDream-6Bold';
    margin-bottom: 40px;
}
#footer .p p{
    margin-right: 60px;
}

#footer .copyright{
    font-size: 13px;
    font-family: 'S-CoreDream-5Medium';
}


/* header 일단 보이는 부분들 */
#header{
    width: 100%;
    /* height: 90px; */
    height: 9rem;
    overflow: hidden;
    position: absolute; top: 0; left: 0;
    z-index: 10;
    transition: .4s;
    position: fixed;
}
#header.on{
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    /* box-shadow: 0px 1px 10px 1px #999; */
}
#header.on::after{
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 1px;
    background: #dfdfdf;
}

#header .inner{
    width: 100%; min-width: 1500px;
    height: 90px;
}

#header h1{
    position: absolute;
    left: 50px; top: 25px;
}
#header .nav{
    width: 1000px;
}
#header .nav .gnb{
    position: absolute;
    left: 50%;
    top: 20px;
    width: 1000px;
    display: flex;
    transform: translateX(-50%);
}

#header .nav .gnb .gnb_a{
    text-align: center;
    /* margin-left: 10px; */
    /* box-sizing:border-box; */
    padding: 8px 10px;
    width: 400px;
    height: 55px;
}
#header .nav .gnb .gnb_a > a{
    display: block;
    font-family: "S-CoreDream-7ExtraBold";
    font-size: 16px;
    color: #fff;
}
#header .nav .gnb .gnb_a.on>a{
    color: #333;
}







/* header - sub */

#header .nav .gnb .gnb_a .sub{
    display: block;
    width: 100%;
    position: absolute;
    left: 10px; top: 70px;
    padding: 20px 0 0 35px;
    display: flex;
    text-align: left;

}
#header .nav .gnb .sub .sub-title{width: 190px;}
#header .nav .gnb .sub .sub-title > a{
    font-family: 'S-CoreDream-5Medium';
    font-size: 14px;
}
#header .nav .gnb .sub .sub-title ul{
    margin-top: 10px;
}
#header .nav .gnb .sub .sub-title ul li{}
#header .nav .gnb .sub .sub-title ul li a{
    line-height: 1.8;
}
#header .nav .gnb .sub .sub-title ul li a:hover{
    color: #2f86ed;
}


/* header - top-menu */
#header .top-menu{
    display: flex;
    position: absolute;
    right: 40px; top: 30px;
}
#header .top-menu p{
    margin-left: 25px;
    position: relative;
}
#header .top-menu p>a{
    display: block;
    color: #fff;
    font-size: 20px;
}
#header .top-menu p>a.on{
    color: #333;
}

#header .top-menu .language >a{
    font-family: 'S-CoreDream-8Heavy';
    font-size: 14px;
    margin-top: 5px;
}
#header .top-menu .all-menu a span{
    display: block;
    width: 30px; height: 2px;
    background: #fff;
    margin-bottom: 10px;
}
#header .top-menu .all-menu a span.on{
    background: #333;
}

#header .top-menu .language:hover .lan{
    height: 65px;
    opacity:1;
}

#header .top-menu .lan{
    position: absolute;
    padding: 7px 10px 10px;
    z-index: 100;
    width: 20px;
    height: 55px;
    border: 1px solid #333;
    border-radius: 4px;
    left: 35%; top: 85%;
    background: #fff;
    opacity: 0;
    /* text-align: center; */
    /* transition: .4s ease; */
    /* visibility: hidden; */
}

#header .top-menu .lan li{}
#header .top-menu .lan li a{
    display: block;
    opacity: .7;
    font-size: 12px;
    font-weight: 700;
    font-family: 'S-CoreDream-6Bold';
}
#header .top-menu ul.lan>li.on a{
    opacity: 1;
}
/* header */




/* visual */
#mainVisual{
    width: 100%;
    min-width: 1200px;
    /* height: 1000px; */
    overflow: hidden;
    position: relative;
    background: #fff;
    text-align: center;

    /* 임시 */
    z-index: -10;
}

#mainVisual video{
    width: 100%;
    overflow: hidden;
    /* height: 1060px; */
    min-width: 1300px;
    margin: auto;
}
#mainVisual #main-text{
    text-align: center;
    position: absolute;
    left: 50%; top: 410px;
    transform: translateX(-50%);
    color: #fff;
    font-weight: 300;
}
#mainVisual #main-text p{
    font-size: 30px;
}
#mainVisual #main-text strong{
    font-size: 60px;
}
#mainVisual #main-text strong em{
    font-family: 'S-CoreDream-7ExtraBold';
}


/* main content 공통부분 */
.main{}
.main .con-box{
    width: 100%;
}
.con-box .con-title{
    padding-top: 150px; 
    text-align: center;
    font-family: 'S-CoreDream-7ExtraBold';
}
.con-box .con-title h2{margin-bottom: 40px; font-size: 50px;}
.con-box .con-title p{margin-bottom: 125px; font-size: 20px;}

.con-box .inner{
    /* 일단 보기 편하라고 대충 잡아둔거임 이거 디자인보고 하나하나 다 수정해야해! con-box마다 높이 다름  */
}

/* main content 각각의 내용 */
.product{width: 100%; }
.product .inner{ 
    background: #fff;
    /* background: #efefef; */
    /* width: 100%;  */
    height: 1050px;
}
.product .con{position: relative;}

.product .con .mask{
    width: 100%;
    max-width: 1920px;
    /* max-width: 1400px; */
    flex-wrap: nowrap;
    margin: auto;
     /* 주의 : 이거 해제하면 paing이 올라오고, 있으면 txt-box가 가려짐  */
    overflow: hidden;
}

.product .con .mask ul{
    /* display: flex;  */
    position: relative;
    top: 0; left: 0px;
    /* background: pink; */
    display: block; 
    width: 12000px;
    height: 590px;

    transform: translate(-100px,0px);

    /* 왜 이거 쓰면 txt 가려지지? */
    overflow: hidden;
}

.product .con .mask ul li{
    /* width: 120rem;  */
    position: relative;
    float: left;
    height: 570px;
    margin: 0 100px;
    opacity: .4;
    width: 1200px;
    top: 90px;
    /* transition: .4s; */
}
.product .con .mask ul li.on{
    opacity: 1;
    top: 0;
}

.product .con .mask ul li .img-box{
    width: 120rem; 
    position: relative;
    display: block;
    width: 100%; 
    height: 460px;
    /* overflow: hidden; */
    box-shadow: 5px 5px 20px #9fa8b7;

}
.product .con .mask ul li .img-box img{
    position: absolute;
    left: 50%; top: 0;
    margin-left: -600px;
    width: 1200px;

    height: 100%;
    /* height: 46rem; */

}

/* txtbox */
.product .con .mask ul li .box{
    position: absolute;
    z-index: 1;
    left: 1200px; 
    top: 0px;
    width: 310px;
    height: 460px;
    background: #fff;
    display: none;
    box-shadow: 5px 5px 20px #9fa8b7;
    border-radius: 0 5px 5px 0;
}
.product .con .mask ul li.on .box{
    display: block;
}
.product .con .mask ul li .box .txt{
    position: relative;
    width: 310px; height: 450px;
    padding: 40px 40px;
    box-sizing: border-box;
}
.product .con .mask ul li.on .box{
    display: block;
}

.product .con .mask ul li .box strong{
    font-family: 'S-CoreDream-7ExtraBold';
    display: inline-block;
    font-size: 20px;
}
.product .con .mask ul li .box strong::after{
    margin:7px 0 15px;
    content:"";
    display: block;
    width: 65px; height: 2px;
    background: #2f86ed;
}
.product .con .mask ul li .box .more{
    position: absolute;
    left: 0;
    /* left: 50%;  */
    /* transform: translateX(-50%); */
    bottom: 40px;
}
.product .con .mask ul li .box .more a{
    display: block;
    width: 160px; height: 40px;
    line-height: 40px;
    text-align: center;
    /* text-indent: 35px; */
    color: #fff;
    background: #2f86ed;
}

/* 구조적 문제로 디자인 변경 후 방향키는 없앰
.product .con .btn-wrap{
}
.product .con .btn-wrap .btn{    
    width: 85px; height: 50px;
    border: none;
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    cursor: pointer;
}
.product .con .btn-wrap .btn i{font-size: 35px; color: #fff;}
.product .con .btn-wrap .prev{left: 290px;}
.product .con .btn-wrap .next{right: 290px;}
*/
.product .con .paging{
    display: flex;
    position: absolute;
    left: 50%; bottom: -20px;
    transform: translateX(-50%);
}
.main .product .con .paging li{
    width: 18px; height: 18px;
    background: #ccc;
    margin-right: 20px;
    cursor: pointer;
    transition: .2s;
}

.product .con .paging li.on{
    opacity: 1;
    background: #2f86ed;
}
/* //product */



.sustainability{ background: #fff;}
.sustainability .inner{width: 1400px;}
.sustainability .con{}
.sustainability .con .susul{}
.sustainability .con .susul li{
    width: 100%;
}
.sustainability .con .susul li a{
    width: 100%;
    display: block;
    display: flex;
    height: 440px;
}
.sustainability .con .susul li a .frame{
    width: 50%;
    /* width: 680px; */
    height: 440px;
    overflow: hidden;
}
.sustainability .con .susul li a:hover .frame{
    box-shadow: 5px 5px 20px #9fa8b7;
}

.sustainability .con .susul li a .frame img{
    width: 100%; height: 440px;
    transition: .4s;
}
.sustainability .con .susul li a:hover .frame img{
    transform: scale(1.1);
}

.sustainability .con .susul li a .text-box{
    width: 50%;
    box-sizing: border-box;
    padding: 190px 70px 95px;
}
.sustainability .con .susul li:nth-child(2) a .text-box{
    text-align: right;
} 

.sustainability .con .susul li a .text-box h3{
    font-family: 'S-CoreDream-6Bold';
    display: inline-block;
    font-size: 45px;
    margin-bottom: 20px;
}

.sustainability .con .susul li a .text-box h3::after{
    content: "";
    display: block;
    width: 0; height: 15px;
    /* background: #2f86ed; */
    margin-top: -30px;
    background:rgba(47,134,237,0.4);
    transition: .4s;
}
.sustainability .con .susul li a:hover .text-box h3::after{
    width: 100%;
}

.sustainability .con .susul li a .text-box p{
    /* font-family: 'S-CoreDream-5Medium'; */
    font-size: 20px;
}
/* sustainability */



.recruit{ background: #fff;}
.recruit .inner{width: 1400px;}
.recruit .con{}
.recruit .con .recul{
    display: flex; 
    width: 100%;
    justify-content: space-between;
}
.recruit .con .recul li{
    width: 424px; height: 395px;
}
.recruit .con .recul li a{
    display: block;
    width: 100%; height: 395px;
    position: relative;
}

.recruit .con .recul li a .frame{
    width: 424px; height: 395px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    transition: .4s;
}

.recruit .con .recul li a:hover .frame{
    bottom: 20px;
    box-shadow: 5px 5px 20px #9fa8b7;
    
}

.recruit .con .recul li a .frame  img{
    transition: .4s;
}
.recruit .con .recul li a:hover .frame  img{
    transform: scale(1.1);
}

.recruit .con .recul li a .frame span{
    width: 424px; height: 395px;
    position: absolute;
    top: 0;left: 0;
    background : rgba(1,35,98,0.5);
    transition: .4s;
}
.recruit .con .recul li a:hover .frame span{
    background : rgba(1,35,98,0.8);
}
.recruit .con .recul li a .frame h3{
    font-family: 'S-CoreDream-6Bold';
    font-size: 35px;
    text-align: center;
    position: absolute;
    left: 50%; top:50%;
    transform: translate(-50%,-50%);
    color: #Fff;
}
/* //recruit */



.media{ background: #fff;}
.media .inner{
    margin-top: 100px;
    width: 1400px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 170px;
}
.media .con-title{
    text-align: left;
    width: 41%; height: 395px;
}
.media .con-title .more{
    border: 1px solid #2f86ed;
    width: 227px; height: 50px;
}
.media .con-title .more a{
    display: block;
    width: 227px; height: 50px;
    text-align: center;
    line-height: 50px;
    transition: .4s;
}
.media .con-title .more a:hover{
    background: #2f86ed;
    color: #fff;
}


.media .con{
    margin-top:170px;
    width: 70%;
}
.media .con .mediul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.media .con .mediul li{
    width: 424px; height: 395px;
    margin-bottom: 34px;
}
.media .con .mediul li a{
    display: block;
    width: 424px; height: 395px;
    position: relative;
}
.media .con .mediul li a .frame{
    width: 424px; height: 395px;
    overflow: hidden;
    position: absolute;
    transition: .4s;
}
.media .con .mediul li a:hover .frame{
    box-shadow: 5px 5px 20px #9fa8b7;
    transform: scale(1.03);
}
.media .con .mediul li a .frame img{
    width: 424px; height: 395px;
    transition: .4s;
}
.media .con .mediul li a:hover .frame img{
    transform: scale(1.1);
}

.media .con .mediul li a .frame span{
    width: 424px; height: 395px;
    position: absolute;
    top: 0; left: 0;
    background:rgba(47,134,237,0.3);
    transition: .4s;
}
.media .con .mediul li a:hover .frame span{
    background:rgba(47,134,237,0.8);
}

.media .con .mediul li a .frame h3{
    font-family: 'S-CoreDream-6Bold';
    font-size: 35px;
    text-align: center;
    position: absolute;
    left: 50%; top:50%;
    transform: translate(-50%,-50%);
    color: #Fff;
    word-wrap: normal;

}
/* //media */


.collection{ background: #fff;}
.collection .inner{
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
}

.collection .she{
    width: 50%;
    height: 947px;

}
.collection .she a{
    display: block;
    width: 100%;
    height: 947px;
    position: relative;
}

.collection .she a .frame{
    width: 100%;
    height: 947px;
    overflow: hidden;
}
.collection .she a .frame img{
    width: 100%;
    height: 947px;
    transition: .4s;
}
.collection .she a:hover .frame img{
    transform: scale(1.1);
}
.collection .she a .frame span{
    width: 100%;
    height: 947px;
    position: absolute;
    top: 0; left: 0;
    background:  rgba(1,35,98,0.8);
}
.collection .she a .frame .text{
    text-align: center;
    position: absolute;
    left: 50%; top:50%;
    transform: translate(-50%,-50%);
    color: #Fff;
    word-wrap: normal;
}
.collection .she a .frame .text h3{
    font-family: 'S-CoreDream-6Bold';
    font-size: 35px;
    margin-bottom: 30px;
}
.collection .she a .frame .text p{
    font-family: 'S-CoreDream-5Medium';
    font-size: 20px;
}

.collection .right{
    flex-wrap: nowrap;
}


.collection .history{
    width: 100%;
    height: 469px;
}
.collection .history a{
    display: flex;
    width: 100%;
    height: 469px;
}

.collection .history a .box1{
    position: relative;
    width: 50%;
    height: 469px;
    background:rgba(47,134,237,0.85);
    transition: .2s;
}
.collection .history a:hover .box1{
    background:rgba(47,134,237);
}


.collection .history a .box1 .text{
    text-align: center;
    position: absolute;
    left: 50%; top:50%;
    transform: translate(-50%,-50%);
    color: #Fff;
    word-wrap: normal;
    width: 300px;
}

.collection .history a .box1 .text h3{
    font-family: 'S-CoreDream-6Bold';
    font-size: 35px;
    margin-bottom: 30px;
}
.collection .history a .box1 .text p{
    font-family: 'S-CoreDream-5Medium';
    font-size: 20px;
}
.collection .history a .box2{
    width: 50%;
    height: 469px;
    position: relative;

}
.collection .history a .box2 .frame{
    width: 100%;
    height: 469px;
    overflow: hidden;
}
.collection .history a .box2 .frame img{
    /* 오른쪽에 여백 왜 생기는데 */
    width: 100%;
    height: 469px;
    transition: .4s;
}
.collection .history a:hover .box2 .frame img{
    transform: scale(1.1);
} 

.collection .history a .box2 .frame span{
    width: 100%;
    height: 469px;
    position: absolute;
    top: 0; left: 0;
    background:rgba(47,134,237,0.3);
}

.collection .location{
    width: 100%;
}
.collection .location a{
    display: block;
    position: relative;
    width: 100%;
    height: 478px;
}

.collection .location a .frame{
    width: 100%;
    height: 478px;
    overflow: hidden;
}
.collection .location a .frame img{
    /* 뭐야 왜 100%로하면 다 안차는데 */
    width: 100.5%;
    height: 478px;
    transition: .4s;
}
.collection .location a:hover .frame img{
    transform: scale(1.1);
}

.collection .location a .frame .text{
    text-align: center;
    position: absolute;
    left: 50%; top:50%;
    transform: translate(-50%,-50%);
    word-wrap: normal;
    width: 700px;
}
.collection .location a .frame .text h3{
    font-family: 'S-CoreDream-6Bold';
    font-size: 35px;
    margin-bottom: 30px;
}
.collection .location a .frame .text p{
    font-family: 'S-CoreDream-5Medium';
    font-size: 20px;
}

#container{
    height: 100%;
}
/* container */




